@using FacetedSearch.Models
@using FacetedSearch.DataStore
@using Nest
@model SearchResultViewModel
@{
    ViewBag.Title = "_FacetsPartial";
}

<!-- Regular facets-->

@functions {

    public bool ContainsItemKey(Dictionary<string,string> Filters, string FacetName, string FacetValue)
    {
        if (!Filters.ContainsKey(FacetName))
        {
            return false;
        }

        return Filters[FacetName].Contains(FacetValue);

    }

}

@foreach (string facKey in Model.Result.Aggregations.Keys)
{

    Bucket fac = (Bucket)Model.Result.Aggregations[facKey];

    if (fac.Items.Count() < 2)
    {
        continue;   // show only if there's a choice
    }

    <div class="context-box">

        @switch (facKey)
        {
            case "datehisto":

                <h4><i class="fa fa-calendar fw"></i> Year published</h4>
                <div class="alert alert-context remove-bottom remove-top-padding">
                    <div class="list-group remove-bottom">
                        @foreach (HistogramItem x in fac.Items)
                        {
                            string key = x.Date.Year.ToString();
                            string icon = "fa fa-square-o";
                            string url = Url.Action("Checkbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = key });
                            if (ContainsItemKey(Model.Filters, facKey, key))
                            {
                                icon = "fa fa-check-square";
                                url = Url.Action("RemoveCheckbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = key });
                            }

                            <a href="@url" class="list-group-item">
                                <i class="@icon"></i>
                                @key
                                <span class="text-muted">[@x.DocCount]</span>
                            </a>
                        }
                    </div>
                </div>

                        break;

            case "language":

                <h4><i class="fa fa-comment-o fw"></i> Language</h4>
                <div class="alert alert-context remove-bottom remove-top-padding">
                    <div class="list-group remove-bottom">
                        @foreach (KeyItem x in fac.Items)
                        {
                            string icon = "fa fa-square-o";
                            string url = Url.Action("Checkbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = x.Key });
                            if (ContainsItemKey(Model.Filters, facKey, x.Key))
                            {
                                icon = "fa fa-check-square";
                                url = Url.Action("RemoveCheckbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = x.Key });
                            }
                            
                            <a href="@url" class="list-group-item">
                                <i class="@icon"></i>
                                @Entities.GetTitle(Entities.EntityTypes.Language, x.Key)
                                <span class="text-muted">[@x.DocCount]</span>
                            </a>
                        }
                    </div>
                </div>

                        break;

            case "topics":

            <h4><i class="fa fa-tags fw"></i> Topics</h4>
            <div class="alert alert-context remove-bottom remove-top-padding">
                <div class="list-group remove-bottom">
                    @foreach (KeyItem x in fac.Items)
                    {

                        string icon = "fa fa-square-o";
                        string url = Url.Action("Checkbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = x.Key });
                        if (ContainsItemKey(Model.Filters, facKey, x.Key))
                        {
                            icon = "fa fa-check-square";
                            url = Url.Action("RemoveCheckbox", new { SearchTerm = Model.SearchTerm, FilterName = facKey, FilterValue = x.Key });
                        }

                        <a href="@url" class="list-group-item">
                            <i class="@icon"></i>
                            @Entities.GetTitle(Entities.EntityTypes.Topic, x.Key)
                            <span class="text-muted">[@x.DocCount]</span>
                        </a>
                    }
                </div>
            </div>

                    break;
        }
    </div>
}

<script type="text/javascript">


    $('.datepicker').datepicker({
        language: 'en', autoclose: true, format: 'yyyy-mm-dd'

    }
    ).on('changeDate', function (ev) {

        var urlAction = "@Url.Action("Filter", new { SearchTerm = Model.SearchTerm, FilterName = "filterName", FilterValue = "filterValue" })";
        urlAction = urlAction.replace("filterName", $(this).attr("name")).replace("filterValue", $(this).val()).replace(/&amp;/g, '&');;


        document.location.href = urlAction;
    });


</script>